<template>
  <div id="app">

    <!-- Input container -->
    <div class="input">
      <p>Enter the PUBLIC REPO URL below</p>
      <span><input type="text" v-model="url" @focus="validInput = true" :class='{ "not-valid": !validInput} '></span>
      <div class="go-button" v-on:click="go">GO</div>
    </div>

    <!-- Table container -->
    <div class="table">
      <div class="table-row">
        <div class="left">Number of Open Issues</div>
        <div class="right">{{ allTime }}</div>
      </div>
      <div class="table-row">
        <div class="left">Number of open issues that were opened in the last 24 hours</div>
        <div class="right">{{ lastDay }}</div>
      </div>
      <div class="table-row">
        <div class="left">Number of open issues that were opened more than last 24 hours ago but less than 7 days ago</div>
        <div class="right">{{ lastWeek }}</div>
      </div>
      <div class="table-row">
        <div class="left">Number of open issues that were opened more than 7 days ago</div>
        <div class="right">{{ beforeLastWeek }}</div>
      </div>

    </div>  
  </div>
</template>

<script>
import axios from 'axios' // for APIs asynchronous calling

let oneDay = 86400000

function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}

function get(url, callback) {
  axios
  .get(url)
  .then(response => {
    // console.log('In get method response: ', response);
    callback(true, response)
  })
  .catch(error => {
    console.log('In get method error: ', error, url);
    callback(false, error)
  })
}

export default {
  name: 'app',
  data() {
    return {
      url: 'https://github.com/vuejs/vuepress', //default
      allTime: '...',
      lastDay: '...',
      lastWeek: '...',
      beforeLastWeek: '...',
      validInput: true,
      path: ''
    }
  },
  methods: {
    // Click event for go button
    go() {
      this.issues()
      this.validateInput()
    },

    // Calculate all the open issues
    issues() {
      this.allTime = 'Loading...'

      // To get the pathname
      let parser = document.createElement('a')
      parser.href = this.url
      this.path = parser.pathname

      // Formatting the url
      let url = 'https://api.github.com/repos' + this.path + '/issues?state=open&sort=created&direction=desc'
      

      // To get access to 'this' variable within the callback function
      let context = this

      get(url, function(success, response) {
        if(success) {
          context.allTime = response.data[0].number
          context.allIssues()
        }
        else {
          context.invalidateInput()
        }
      })
    },
    allIssues() {
      let subFactor = 0
      this.lastDayIssues('lastDay', oneDay, subFactor)
    },
    lastDayIssues( subFactor) {
      this.lastDay = 'Loading...'

      // timestamp for last 24 hours
      let timestamp = new Date(Date.now() - oneDay)

      // Formatting the url
      let url = 'https://api.github.com/repos' + this.path + '/issues?state=open&since=' + timestamp

      // To get access to 'this' variable within the callback function
      let context = this

      get(url, function(success, response) {
        if(success) {
          let count = response.data.length
          if(!response.headers.link) {
            context.lastDay = count
            context.lastWeekIssues()
          } else {
            let arr = response.headers.link.split(',')
            if(arr.length >= 0) {
              let lastElement = arr[0].includes('rel="last"') ? arr[0] : arr[1]
              let link = lastElement.split(';')
              link = link[0].slice(2,link[0].length-1)
              let lastPage = getParameterByName('page',link)

              count = count*(lastPage-1)

              get(link, function(success, response) {
                if(success) {
                  context.lastDay = count + response.data.length
                  context.lastWeekIssues()
                } else {
                  context.invalidateInput()
                }
              })
            }
          }
        }
        else {
          context.invalidateInput()
        }
      })
    },
    lastWeekIssues() {
      this.lastWeek = 'Loading...'

      // timestamp for last 24 hours
      let timestamp = new Date(Date.now() - 7*oneDay)

      // Formatting the url
      let url = 'https://api.github.com/repos' + this.path + '/issues?state=open&since=' + timestamp

      // To get access to 'this' variable within the callback function
      let context = this

      get(url, function(success, response) {
        if(success) {
          let count = response.data.length
          if(!response.headers.link) {
            context.beforeLastWeek = context.allTime - count
            context.lastWeek = count - context.lastDay
          } else {
            let arr = response.headers.link.split(',')
            if(arr.length >= 0) {
              let lastElement = arr[0].includes('rel="last"') ? arr[0] : arr[1]
              let link = lastElement.split(';')
              link = link[0].slice(2,link[0].length-1)
              let lastPage = getParameterByName('page',link)

              count = count*(lastPage-1)

              get(link, function(success, response) {
                if(success) {
                  context.beforeLastWeek = context.allTime - (count + response.data.length)
                  context.lastWeek = count + response.data.length - context.lastDay
                } else {
                  context.invalidateInput()
                }
              })
            }
          }
        }
        else {
          context.invalidateInput()
        }
      })
    },
    lastLink(arr) {
      let lastElement = arr[0].includes('rel="last"') ? arr[0] : arr[1]
      let link = lastElement.split(';')
      link = link[0].slice(2,link[0].length-1)
      let lastPage = getParameterByName('page',link)
    },
    invalidateInput() {
      this.validInput = false
      let str = 'Check the URL'
      this.allTime = str
      this.lastDay = str
      this.lastWeek = str
      this.beforeLastWeek = str
    },
    validateInput() {
      this.validInput = true
      let str = '...'
      this.allTime = str
      this.lastDay = str
      this.lastWeek = str
      this.beforeLastWeek = str
    }
  }
}
</script>

<style lang="scss">
html {
  background-color: #eee !important;
}

#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.input {
  input {
    border: 0px;
    border-bottom: 1px solid #000;
    width: 300px;
    text-align: center;
    font-size: 16px;
    padding: 10px;
  }

  .not-valid {
    border: 2px solid #f00;
  }

  .go-button {
    display: inline-block;
    font-size: 20px;
    width: 50px;
    margin-left: 50px;
    margin-top: 5px;
    padding: 5px 30px;
    border-radius: 5px;
    background: #01a3cc;
    color: #fff;
    border-color: #0088aa;
    cursor: pointer;
    box-shadow: unset;
  }
}

.table {
  border: 5px solid rgb(0, 160, 117);
  padding: 16px;
  margin: 30px 100px;
  background-color: rgb(42, 185, 147);
  color: #fff;

  .table-row:last-child {
    border-bottom: 0px;
  }
  .table-row {
    padding: 20px 10px;
    border-bottom: 1px solid #fff;
    
    > * {
      padding: 0;
      position: relative;
      font-size: 14px;
      line-height: 16px;
      text-align: left;
      display: inline-block;
    }

    .left {
      width: 75%;
    }
    .right {
      padding-left: 10px;
      width: 20%;
    }
  }
}
</style>
